<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.admin.core" >

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>
